# Git

.git
.gitignore

# Docker
.docker

# Python
__pycache__
*.pyc

# virtual environment
venv/
.env/
.venv/

app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/

.idea

